body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: monospace;
  font-size: 1.1em;
  color: white;
  background-color: black;
}

#output {
  height: 80vh;
  overflow: auto;
  padding: 0.5vh;
  display: flex;
  flex-direction: column;
}

.player-input,
.player-input:focus {
  font-family: monospace;
  margin: 2vw 0vw 2vw 4.5vw;
  width: 87vw;
  padding: 2vh 2vw 2vh 2vw;
  background-color: #222222;
  color: lightgreen;
  border: 0 solid #C0C0C044;
}

.player-input::placeholder {
  color: #555555;
  background-color: transparent;
  font-style: italic;
}

.switch-btn {
  display: none;
  vertical-align: middle;
  border-radius: 7px;
  background-color: #444444;
  background-image: url(../switch-logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width:310px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .switch-btn {
    margin-left: -16vw;
    width: 11vw;
    height: 11vw;
  }
  .player-input,
  .player-input:focus {
    font-size: 5vw;
    height: 7vw;
  }
}

@media (min-width:481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .switch-btn {
    margin-left: -8vw;
    margin-top: -0.5vw;
    width: 5vw;
    height: 5vw;
  }
  .player-input,
  .player-input:focus {
    font-size: 3vw;
    height: 4vw;
  }
}

@media (min-width:1024px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .switch-btn {
    margin-left: -6vw;
    margin-top: -0.7vw;
    width: 4.5vw;
    height: 4.5vw;
  }
  .player-input,
  .player-input:focus {
    font-size: 2vw;
    height: 3.5vw;
  }
}

p {
  margin: 9px 9px 9px 9px;
  color: grey;
  background-color: inherit;
  font-weight: lighter;
}

label {
  margin-right: 10px;
  font-weight: normal;
}

strong {
  color: rgb(255, 200, 90);
  background-color: inherit;
}

em {
  color: grey;
  background-color: inherit;
}

pre {
  white-space: pre-wrap;
  /* css-3 */
}
